<div class="navbar-wagon navbar-fixed-top">
  <!-- Logo -->
  <h4><%= link_to "MISTER COCKTAIL", cocktails_path, class: "navbar-wagon-item navbar-wagon-link"%></h4>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%= link_to "Home", cocktails_path, class: "navbar-wagon-item navbar-wagon-link"%>
    <%= link_to "Add a new cocktail", new_cocktail_path, class: "navbar-wagon-item navbar-wagon-link"%>
  </div>
</div>
